In [16]:
import pandas as pd


utilization = pd.read_csv(
    "https://raw.githubusercontent.com/shubhamkalra27/dsep-2020/main/datasets/util_b_emp.csv"
)
survey = pd.read_csv(
    "https://raw.githubusercontent.com/shubhamkalra27/dsep-2020/main/datasets/survey_emp.csv"
)
computers = pd.read_csv(
    "https://raw.githubusercontent.com/shubhamkalra27/dsep-2020/main/datasets/vendor_options.csv"
)

employees = utilization.merge(survey, left_on="employee_id", right_on="employee_id")

In [17]:
from problem import ProblemMax


problem = ProblemMax(computers, employees)

In [18]:
for key in problem.max_values.keys():
    """
    testing get_value_by_needs
    """
    test = employees[employees["utilization_bin"] == key].iloc[0]
    print(key + ":", problem.max_values.get(key))
    print(problem.get_value_by_needs(9, test["utilization_bin"]))

high: 10
9
medium: 7
7
low: 3
3

In [19]:
problem.computers.shape[0]

11

In [20]:
"""
        testing get_random_state
    """
print(problem.get_random_state())

[1, 10, 7]

In [21]:
# testing calculate_computer_value_for_employee
# what we want: 5.625
print(
    problem.calculate_computer_value_for_employee(computers.iloc[0], employees.iloc[0])
)
# what we got

5.625

In [22]:
# test get_best_from_three_for_employee
print("all:")
for i in [j for j in range(3)]:
    print(
        problem.calculate_computer_value_for_employee(
            computers.iloc[i], employees.iloc[0]
        )
    )

print(
    "The one:\n",
    problem.get_best_from_three_for_employee([i for i in range(3)], employees.iloc[0]),
    sep="",
)

all:
5.625
6.85
6.775
The one:
6.85

In [23]:
# test state cost
sum_all = 0
for _, e in employees.iterrows():
    sum_all += problem.get_best_from_three_for_employee([i for i in range(3)], e)

print(problem.calculate_state_cost([i for i in range(3)]) == sum_all, sep="")

True

In [24]:
# test improvement
old_state = [1, 3, 7]
new_state = [5, 3, 7]
print(problem.improvement(new_state, old_state))

print(
    " ",
    problem.calculate_state_cost(new_state),
    "\n-",
    problem.calculate_state_cost(old_state),
    "\n\t\t=\n ",
    problem.calculate_state_cost(new_state) - problem.calculate_state_cost(old_state),
)

14.375000000002387
  830.0000000000009
- 815.6249999999985
		=
  14.375000000002387

In [25]:
# test random neighbour
generator = problem.get_random_neighbour(old_state)
new = next(generator)
print(len(new) == len(old_state))
print(len([i for i in range(len(old_state)) if new[i] != old_state[i]]))

True
1

In [26]:
from simulated_annealing import SimulatedAnnealing, SimulatedAnnealingConfig

config = SimulatedAnnealingConfig()
simulation = SimulatedAnnealing(config, problem)

In [27]:
simulation.solve()

SOLUTION:
 Best: [5, 1, 4]

In [30]:
problem.calculate_state_cost([1, 4, 9])

847.0250000000007

In [32]:
problem.calculate_state_cost([1, 5, 4])

852.549999999999

In [34]:
from stupid_solution import Stupid


stupid = Stupid(problem)
stupid.solve()

SOLUTION:
 Best: [1, 4, 5]

In [50]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
data_columns = computers.columns[1:4]

part = DataFrame(scaler.fit_transform(computers_min_max.iloc[:, 1:4]))
computers_min_max[data_columns] = part
computers_min_max.head()

   computer_id  memory  processing   storage  inverse_price
0           13    0.00    0.500000  1.000000            2.7
1           16    1.00    0.666667  0.833333            1.3
2            4    0.75    0.833333  1.000000            1.0
3            1    0.75    0.666667  0.833333            1.7
4            3    0.00    0.000000  0.000000            5.7

In [51]:
computers

    computer_id  memory  processing  storage  inverse_price
0            13       5           7       10            2.7
1            16       9           8        9            1.3
2             4       8           9       10            1.0
3             1       8           8        9            1.7
4             3       5           4        4            5.7
5             2       6           7        7            3.3
6            20       7          10        7            2.0
7             8       9           6        9            2.0
8             9       9           8        7            2.0
9             7       7           7        9            2.3
10           12       8           9       10            1.0

In [57]:
from sklearn.preprocessing import minmax_scale
from copy import deepcopy


computers_min_max = deepcopy(computers)
# computers_min_max[['inverse_price']] = minmax_scale(computers_min_max[['inverse_price']])

In [61]:
print(max(computers_min_max["inverse_price"]))
computers_min_max["inverse_price"] = pd.DataFrame(
    data=computers_min_max["inverse_price"]
    / max(computers_min_max["inverse_price"])
    * 10
)

1.0

In [65]:
print(min(computers_min_max["inverse_price"]))

1.7543859649122806

In [42]:
computers_min_max

    computer_id  memory  processing  storage  inverse_price
0            13       5           7       10            2.7
1            16       9           8        9            1.3
2             4       8           9       10            1.0
3             1       8           8        9            1.7
4             3       5           4        4            5.7
5             2       6           7        7            3.3
6            20       7          10        7            2.0
7             8       9           6        9            2.0
8             9       9           8        7            2.0
9             7       7           7        9            2.3
10           12       8           9       10            1.0